# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Node.js dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# Editor/IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Misc
secret/
config/secrets.js
